$theme: 'buttercup';

$color-normal: #fff;
$color-dark: #000;
@if ($theme == 'pickled-bluewood') {
    $color-normal: #34495e;
    $color-dark: #2c3e50;
}
@if ($theme == 'buttercup') {
    $color-normal:#f1c40f;
    $color-dark: #f39c12;
}
@if ($theme == 'zest') {
    $color-normal: #e67e22;
    $color-dark: #d35400;
}

// $color-buttercup: #f1c40f;
// $color-golden-grass:#f39c12;
$color-white: #fff;
$color-athens-gray: #e7e9ec;