@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 10rem;
        grid-template-rows: auto 1fr 6rem;
    }

    .content {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    footer {
        grid-column: 1/3;
    }

    // .welcome__description {
    //     font-size: 1rem;
    // }
}
