html,
body {
    height: 100%;
    font-family: "open sans";  
}
@media screen and (min-width: 25em) {
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

.welcome {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(ellipse, $color-normal, $color-dark);

    h1 {
        color: $color-white;
        font-size: 4rem;
    }

    .welcome__description {
        line-height: 1.5;
        padding: 0 0.5rem;
        font-size: 2rem;
        text-align: justify;
        padding: 2rem;
    }

    a.scroll-down {
        color: $color-white;
        text-decoration: none;
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.3rem;
        border: 0.1rem solid $color-white;
        position: relative;
        padding-right: 0.7rem;
        background-color: $color-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            border: 0.1rem solid $color-normal;
        }
    }
    .continue-arrow {
        margin: 0 0.2rem;
        &:after {
            // position: absolute;
            // right: 1rem;
            // top: 2.5rem;
            content: '';
            width: 0px;
            height: 0px;
            border-top: 0.4rem solid $color-white;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
            display: block;
        }
    }
}