html,
body {
    height: 100%;
    font-family: "open sans"; 
}
@media screen and (min-width: 25em) {
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

.welcome {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(ellipse, $color-normal, $color-dark);

    h1 {
        color: $color-white;
        font-size: 3.6rem;
        margin: 0 1rem;
    }

    .welcome__description {
        line-height: 1.4;
        padding: 0 2rem;
        font-size: 1.4rem;
        text-align: justify;
        // padding: 2rem;
    }

    a.scroll-down {
        color: $color-white;
        text-decoration: none;
        font-size: 1rem;
        padding: 0.8rem;
        margin: 0.8rem;
        border-radius: 0.3rem;
        border: 0.1rem solid $color-white;
        position: relative;
        padding-right: 0.7rem;
        background-color: $color-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            border: 0.1rem solid $color-normal;
        }
    }
    .continue-arrow {
        margin: 0 0.2rem;
        &:after {
            // position: absolute;
            // right: 1rem;
            // top: 2.5rem;
            content: '';
            width: 0px;
            height: 0px;
            border-top: 0.4rem solid $color-white;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
            display: block;
        }
    }
}

a {
    color: $color-dark;
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.container {
    ul {
        list-style-type: disc;
    }
    ol, ul {
        padding: 1rem 2rem;

        li {
            line-height: 1.3;
            margin-bottom: 1rem;
        }
    }
}


.content {
    padding: 1.5rem;

    h2 {
        font-size: 3rem;
        color: $color-dark;
        font-weight: bold;
        padding: 1rem 0;
        line-height: 1.2;
    }

    blockquote {
        border-left: 0.2rem solid $color-athens-gray;
        padding-left: 1rem;
        margin: 1rem 0;
    }

    // .blockquote__footer {

    // }
    b {
        font-weight: bold;
    }
    
    .top {
        text-align: right;
        display: block;
    }
    .top-arrow {
        margin: 0 0.2rem;
        position: relative;

        &:after {
            position: absolute;
            // left: 1rem;
            top: 0.5rem;
            content: '';
            width: 0px;
            height: 0px;
            border-bottom: 0.4rem solid $color-dark;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
        }
    }

    img {
        width: 100%;
        border: 0.3rem solid $color-dark;
        // padding: 0.3rem;
        border-radius: 0.5rem;
    }
}
