footer 
    .footer
        div &copy; 2019 My own company
        ul.footer__list
            li
                a.footer__link(href="/privacy") Privacy
            li
                a.footer__link(href="/policy") Policy