.footer {
    background-color: $color-dark;
    color: $color-white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
}

.footer__list {
    display: flex;
    justify-content: space-around;
    li {
        list-style-type: none;
    }
}

.footer__link {
    display: block;
    padding: 0.7rem;
    padding-bottom: 0;
    color: $color-white;
    text-decoration: none;
}