@media (min-width:768px) {
    // style for tablet
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .welcome,
    .content,
    footer {
        grid-column: 1/3;
    }

    .menu__panel {
        margin: 0.5rem;
        &:first-of-type {
            grid-column: 1/2;
        }
        &:last-of-type {
            grid-column: 2/3;
        }
    }
//     .menu {
//         display:flex;
//         justify-content: space-between;
//         align-items: stretch;
//     }

//     .menu__panel {
//         flex-grow: 1;

//         &:first-child {
//             margin-right: 1rem;
//         }

//     }
}