.menu {
    padding: 0.5rem;
}

.menu__panel {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

}

.menu__title {
    background-color: $color-normal;
    color: $color-white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: center;
}

.menu__list {
    background-color: $color-dark;
    color: $color-white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    flex-grow: 1;

    a {
        color: $color-white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        display: block;
    }
}