extends _component/layout/base

block config
    -
        var title= 'Welcome to quick blog'
        var description= 'Using super Quick Blog is easy and you can get 100/100 score on Google page speed insights'
block content
    .content
        #continue
        h2 Firstly, let's write some content
        p 
            | The sources of Quick Blog can be found on GitHub at
            | #{" "}
            a(href="https://github.com/KatyIftimie/quick-blog") Quick Blog
        blockquote.blockquote
            .blockquote__body
                p Life is working if you crack the code in it. If not you just gonna be an error.
            footer.blockquote__footer
                a(href="https://github.com/KatyIftimie/", target="_blank") Mariana Iftimie
        p.lead Nemo enim ugit, sed atione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
        p 
            small Nemo enim ugit, sed atione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius moditempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        a.top(href="#top") 
            span Top
            span.top-arrow