extends _component/layout/base

block config
    -
        var title= 'Welcome to quick blog'
        var description= 'Using super Quick Blog is easy and you can get 100/100 score on Google page speed insights'
block content
    .welcome
        h1=title
        p.welcome__description=description
        a.scroll-down(href="#continue") 
            span click to continue reading or scroll down
            span.continue-arrow
    .content
        #continue
        p.lead Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
        p 
            small Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius moditempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
//- include _component/action-top/action-top