-
    var baseUrl = 'https://katyiftimie.github.io/quick-blog/'

.article
    h3=article.title
    p=article.description
    .article-link
        a(href=`${baseUrl}article.link`) read more about #{article.title}